# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/build/
*.jks
*.keystore

# iOS / macOS
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/

# Web / Firebase
.firebase/

# Secrets
.env
*.env
!.env.example

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
